@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
$purple: #4B1D3F;
$white: #FFFFFF;
$textFont: 'Comfortaa', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
.wrapper {
    width: 100%;
    padding: 0px 30px;
    background-color: rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
}
.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    color: rgb(255, 40, 2);
}
.centerLinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;
    margin-right: 30px;
}
.navLink {
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    margin: 0 20px;
    color: #000;
    &:first-child {
        color: #000;
    }
}
.firstLetter {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 40, 2);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
    &:hover {
        background-color: rgb(207, 31, 0);
    }
}
.letter {
    text-transform: uppercase;
    font-size: 1.2rem;
}
.userMenu {
    position: absolute;
    top: 75px;
    right: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 10px 0px;
    padding-bottom: 0px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.userMenuHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.2px solid rgb(220, 220, 220);
    padding-bottom: 10px;
}
.userMenuHeaderTitle {
    margin: 5px 0px;
}
.editProfile {
    margin: 5px 0px;
    color: rgb(255, 40, 2);
    cursor: pointer;
}
.userMenuBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.2px solid rgb(220, 220, 220);
}
.userMenuItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.userMenuItemText {
    font-size: 1rem;
    font-family: $textFont;
    font-weight: bold;
    color: #000;
}
.userMenuFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 0.2px solid rgb(220, 220, 220);
    cursor: pointer;
}
.userMenuFooterText {
    font-size: 1rem;
    font-family: $textFont;
    color: rgb(131, 131, 131);
}
.userMenuFooterButton {
    background-color: rgb(255, 40, 2) !important;
    &:hover {
        background-color: rgb(207, 31, 0) !important;
    }
}
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    background-color: $purple;
    width: 300px;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.sidebarHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    color: $white;
    margin-bottom: 20px;
}
.sidebarHeaderSubtitle {
    margin-top: 15px;
    font-size: 1.1rem;
    text-align: center;
}
.sidebarLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $textFont;
}
.sidebarLink {
    height: 60px;
    display: flex;
    color: #fff;
    width: 100%;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
        background-color: #381731;
    }
}
.sidebarLinkIcon {
    font-size: 2rem;
}
.sidebarLinkText {
    margin-left: 10px;
    font-size: 1.2rem;
}